html, body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    margin: 0;
    background-color: rgb(239, 240, 226);
}

.title, .footer {
    background-color: rgb(147, 232, 253);
    text-align: center;
    border-radius: 15px;
    margin: 15px;
}

/*--------------------Title---------------------*/

.title {
    font-size: 48px;
    font-weight: 800;
    color: rgb(255, 255, 255);
    padding: 60px;

}

/*--------------------layout--------------------*/

.layout {
    display: flex;
    justify-content: flex-start;

}



/*-------------------Sidebar--------------------*/

.sidebar {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    margin-right: 40px;
    background-color: rgb(148, 211, 148);
}

/*----------------profile picture----------------*/
.avatar {
    margin-top: -40px;
    margin-left: 20px;
    margin-bottom: 20px;
}



/*-------------------about me--------------------*/
.me-section {
    columns: 400px;
    margin: 20px;
}

.aboutme {
    font-size: 20px;
    font-weight: 800;
    margin-bottom: 15px;
}

.aboutmemore {
    font-size: 18px;
    font-weight: 50;
}

/*---------------------beef----------------------*/
.beef-section {
    background-color: rgb(218, 152, 152);
    margin-top: 40px;
    margin-right: 20px;
    flex-grow: 2;
}

.beef {
    font-size: 50px;
    font-weight: 800;
    margin: 15px;
}

.cards-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.cards {
    font-size: 35px;
    background-color: rgb(255, 255, 182);
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
}

/*.modal {
    position:fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 20px;
    z-index: 10;
    background-color: white;
    width: 1000px;
    max-width: 80%;
}

.modal.active {
    transform: translate(-50%, -50%) scale(1);
}

.modal-header {
    padding: 10px 15px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

.modal-header .title {
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-header .close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-body {
    padding: 10px 15px;
}*/

#overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}

/*----------------helpful links------------------*/
.links-section {
    margin: 15px;
    background-color: white;
}

.links {
    font-size: 30px;
    color: rgb(82, 58, 0)
    /*background-color: ;*/
}

a:link {
    color: black;
    text-decoration: none;
}

a:hover {
    color: blue;
}

a:visited {
    color: pink;
}

/*--------------------footer---------------------*/

.footer {
    padding: 40px;
}