html, body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    margin: 0;
    background-color: rgb(239, 240, 226);
}

.title, .footer {
    background-color: rgb(147, 232, 253);
    text-align: center;
    border-radius: 15px;
    margin: 15px;
}

/*--------------------Title---------------------*/

.title {
    font-size: 70px;
    font-weight: 800;
    color: rgb(255, 255, 255);
    padding: 60px;

}

/*--------------------Layout--------------------*/

.layout {
    display: flex;
    justify-content: flex-start;

}

/*-------------------Sidebar--------------------*/

.sidebar {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    margin-right: 40px;
    background-color: rgb(148, 211, 148);
}

/*----------------profile picture----------------*/
.avatar {
    margin-top: -40px;
    margin-left: 20px;
    margin-bottom: 20px;
}

/*-------------not working serction--------------*/
.not-working-section {
    background-color: orange;
    margin: 15px;
    font-size: 20px;
    text-align: center;
    padding: 10px;
}

.not-working-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
}

/*-------------------about me--------------------*/
.me-section {
    columns: 400px;
    margin: 20px;
}

.aboutme {
    font-size: 20px;
    font-weight: 800;
    margin-bottom: 15px;
}

.aboutmemore {
    font-size: 18px;
    font-weight: 50;
}

/*---------------------beef----------------------*/
.beef-section {
    background-color: rgb(218, 152, 152);
    margin-top: 20px;
    margin-right: 20px;
}

.beef {
    font-size: 50px;
    font-weight: 800;
    margin: 15px;
}

.cards-container {
    display: grid;
    grid-template-columns: 1fr 1fr;

}

.cards {
    font-size: 25px;
    background-color: rgb(255, 255, 182);
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    padding: 15px;
}

.card-title {
    font-weight: bold;
    padding-bottom: 5px;
}

.link-container > p,
.not-working-container > p {
    font-size: 17px;
    text-align: center;
}

/*----------------helpful links------------------*/
.link-section {
    font-size: 20px;
    margin: 15px;
    border-radius: 17px;
    background-color: white;
    text-align: center;
    padding: 10px;
}

.link-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
}

.links {
    font-size: 20px;
    color: rgb(47, 47, 47)
    /*background-color: ;*/
}

a:link {
    color: rgb(0, 27, 124);
    text-decoration: none;
}

a:hover {
    color: rgb(6, 143, 58);
}

a:visited {
    color: rgb(108, 92, 94);
}

/*--------------------footer---------------------*/

.footer {
    padding: 5px;
}